.chat {
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 300px;
    max-height: 160px; /* altura máxima do chat, como no Minecraft */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: transparent;
    padding: 0;
}

.chat:hover,
.chat.focused {
    background-color: #b4b4b43d;
}

.chat-messages {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px;
    gap: 0; /* zero espaçamento entre as mensagens */
}

.chat-message {
    font-size: 10px;
    font-family: "Press Start 2P", monospace;
    line-height: 1.4;
    color: white;
    word-break: break-word;
}

.chat-message .name {
    color: #4fa3ff;
}

/* Campo de input embaixo */
.chat-input-wrapper {
    display: flex;
    background-color: #2f2f2f;
    border-radius: 10px;
    padding: 4px;
    align-items: center;
}

#messageInput {
    flex: 1;
    background: transparent;
    border: none;
    color: white;
    font-family: "Press Start 2P", monospace;
    font-size: 10px;
    outline: none;
}

#sendButton {
    background: none;
    border: none;
    color: white;
    font-family: "Press Start 2P", monospace;
    font-size: 12px;
    cursor: pointer;
}

.chat-message .text {
    color: white;
}

/* input do chat */
.chat > input {
    width: 260px;
    height: 20px;
    padding: 5px 10px;
    border: 2px solid #5f5f5f;
    border-radius: 15px;
    outline: none;
    font-size: 14px;
    background-color: #f0f0f01f;
    color: white;
    position: absolute;
    left: 10px;
    bottom: 5px;
    transition: border-color 0.3s ease-in-out;
}

.chat > input:focus {
    border-color: #242424;
}

/* botão enviar */
.chat > button {
    width: 34px;
    height: 34px;
    border: none;
    border-radius: 15px;
    color: #fff;
    background-color: #007bff00;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    right: 7px;
    bottom: 5px;
    transition: background-color 0.3s ease-in-out;
}

.chat > button:hover {
    background-color: #b4b4b467;
}

.chat > button:active {
    background-color: #b4b4b485;
}
