.chat {
    width: 300px;
    height: 400px;
    background-color: #2f2f2f;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 15px 15px 0 15px;
}

.chat:hover,
.chat.focused {
    background-color: #b4b4b43d;
}

.chat-messages {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 2px; /* espaçamento mínimo, estilo WhatsApp */
    padding-right: 4px; /* para o scroll não cortar texto */
}

.chat-message {
    width: 100%;
    font-size: 10px;
    font-family: "Press Start 2P", monospace;
    word-break: break-word;
    color: white;
}

.chat-message .name {
    color: #4fa3ff;
}

.chat-message .text {
    color: white;
}

/* input do chat */
.chat > input {
    width: 260px;
    height: 20px;
    padding: 5px 10px;
    border: 2px solid #5f5f5f;
    border-radius: 15px;
    outline: none;
    font-size: 14px;
    background-color: #f0f0f01f;
    color: white;
    position: absolute;
    left: 10px;
    bottom: 5px;
    transition: border-color 0.3s ease-in-out;
}

.chat > input:focus {
    border-color: #242424;
}

/* botão enviar */
.chat > button {
    width: 34px;
    height: 34px;
    border: none;
    border-radius: 15px;
    color: #fff;
    background-color: #007bff00;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    right: 7px;
    bottom: 5px;
    transition: background-color 0.3s ease-in-out;
}

.chat > button:hover {
    background-color: #b4b4b467;
}

.chat > button:active {
    background-color: #b4b4b485;
}
